<footer id="colophon" class="site-footer footer-primary">
    <div class="top-footer">
       <div class="container">
          <div class="row">
             <div class="col-lg-3 col-md-6">
                <aside class="widget widget_text">
                   <h3 class="widget-title">
                      About Travel
                   </h3>
                   <div class="textwidget widget-text">
                     Vaishnavi Tirupati Tours is your trusted partner for seamless pilgrimages, offering comfort, convenience, and spiritual fulfillment
                   </div>
                   <!-- <div class="award-img">
                      <a href="#"><img src="assets/images/logo6.png" alt=""></a>
                      <a href="#"><img src="assets/images/logo2.png" alt=""></a>
                   </div> -->
                </aside>
             </div>
             <div class="col-lg-3 col-md-6">
                <aside class="widget widget_text">
                   <h3 class="widget-title">CONTACT INFORMATION</h3>
                   <div class="textwidget widget-text">
                      <ul>
                         <li>
                            <a href="tel:91 78451 13829">
                               <i class="fas fa-phone-alt"></i>
                               +917845113829
                            </a>
                         </li>
                         <li>
                            <a href="tel:91 78451 13829">
                               <i class="fas fa-phone-alt"></i>
                              +91 98844 13829
                            </a>
                         </li>
                         <li>
                            <a href="mailto:vaishnavitirupatitours@gmail.com">
                               <i class="fas fa-envelope"></i>
                               <span >vaishnavitirupatitours@gmail.com</span>
                            </a>
                         </li>
                         <li>
                            <i class="fas fa-map-marker-alt"></i>
                            Chennai, Tamilnadu, India.

                         </li>
                      </ul>
                   </div>
                </aside>
             </div>
             <div class="col-lg-3 col-md-6">
                <aside class="widget widget_recent_post">
                   <h3 class="widget-title">Our Packages</h3>
                   <ul>
                      <li>Chennai to Tirupati One day package </li>
                      <li>Chennai to Tirupati Two days package </li>
                      <li>Tirupati car Rentals </li>
                   </ul>
                </aside>
             </div>
             <!-- <div class="col-lg-3 col-md-6">
                <aside class="widget widget_newslatter">
                   <h3 class="widget-title">CONTACT US</h3>
                   <div class="textwidget widget-text">
                     <ul>
                        <li>
                           <a href="#">
                              <i class="fas fa-phone-alt"></i>
                              +917845113829
                           </a>
                        </li>
                        <li>
                           <a href="mailto:vaishnavitirupatitours@gmail.com">
                              <i class="fas fa-envelope"></i>
                              <span >vaishnavitirupatitours@gmail.com</span>
                           </a>
                        </li>
                        <li>
                           <i class="fas fa-map-marker-alt"></i>
                           Chennai, Tamilnadu, India.

                        </li>
                     </ul>
                  </div>
                </aside>
                
             </div> -->
             <div class="col-lg-3 col-md-6">
               <aside class="widget widget_text">
                  <h3 class="widget-title">CONTACT US</h3>
                  <div class="textwidget widget-text">
                     <ul>
                        <li>
                           <a href="tel:+9178451 13829">
                              <i class="fas fa-phone-alt"></i>
                              Call Us
                           </a>
                        </li>
                        <li>
                           <a href="https://api.whatsapp.com/send/?phone=+917845113829&text=Hello%20Vaishnavi%20Travels!&type=phone_number&app_absent=0">
                              <i class="fab fa-whatsapp"></i>
                              whatsapp Us
                           </a>
                        </li>
                        <li>
                           <i class="fas fa-arrow-right"></i>
                           <a href="#Con">Book Now</a>
                        </li>
                     </ul>
                  </div>
               </aside>
            </div>
          </div>
       </div>
    </div>
    <div class="buttom-footer">
       <div class="container">
          <div class="row ">
             <div class="col-md-5">
                <div class="footer-menu">
                   <ul>
                      <li>
                         <a href="#">Privacy Policy</a>
                      </li>
                      <li>
                         <a href="#">Term & Condition</a>
                      </li>
                      <li>
                         <a href="#">FAQ</a>
                      </li>
                   </ul>
                </div>
             </div>
             <div class="col-md-2 text-center">
                <!-- <div class="footer-logo">
                   <a href="#"><img src="assets/images/travele-logo.png" alt=""></a>
                </div> -->
             </div>
             <div class="col-md-5">
                <div class="copy-right text-right">Copyright © 2024 Vaishnavi Tirupati Tours.</div>
                <div class="copy-right text-right">Designed by The Reciprocal Solutions</div>
             </div>
          </div>
       </div>
    </div>
 </footer>